/work/src/test/.idea/modules.xml
/work/src/test/.idea/test.iml
/work/src/test/.idea/workspace.xml
work/src/test/test.go
work/src/test/.idea/workspace.xml
Java_utils/java/java.xcodeproj/*
Transmitter/*
Java_utils/*
/Web streaming resources.docx
work/src/mpeg2ts/.idea/*
